<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="entry.css" rel="stylesheet">
</head>

<div>
    <h1>So... how are you?</h1>
</div>

<div class="container">
    <div id="questions">
        <div class="d-flex flex-row align-items-center question-title">
            <h5 class="mt-1 ml-2">How do you feel right now?</h5>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Really Good" value="Really Good"> <span>Great</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Good" value="Good"> <span>Good</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Okay" value="Okay"> <span>Alright</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Bad" value="Bad"> <span>Bad</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Really Bad" value="Really Bad"> <span>Really Bad</span>
            </label>
        </div>
    </div>
</div>

            


<div class="container">
    <div id="questions">
        <div class="d-flex flex-row align-items-center question-title">
            <h5 class="mt-1 ml-2">Did you exercise today?</h5>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="Yes" value="Yes"> <span>Yes</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="No" value="No"> <span>No</span>
            </label>
        </div>
        </div>
    </div>
</div>
               
            
<div class="container">
    <div id="questions">
        <div class="d-flex flex-row align-items-center question-title">
            <h5 class="mt-1 ml-2">How did you sleep last night?</h5>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="5-7" value="5-7"> <span>Great</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="3-5" value="3-5"> <span>Okay</span>
            </label>
        </div>
        <div class="ans ml-2">
            <label class="radio"> <input type="radio" name="0-2" value="0-2"> <span>Bad</span>
            </label>
        </div>
            </label>
        </div>
    </div>
</div>

                