<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="home.css" rel="stylesheet">
</head>


<h1>Good Evening!</h1>

<div class = "slider">
  <a href = "./questions/q1.html" id="slide-1" class = "panel">
    <h2>Daily Tap</h2>
    <h4>What color are you today?</h4>
    <h10>Get 10 points!</h10>
  </a>
  
  <a href = "./questions/q2.html" id="slide-2" class = "panel">
    <h2>Daily Tap</h2>
    <h4>How many hours of sleep did you get?</h4>
    <h10>Get 5 points!</h10>
  </a>
  
  <a href = "./questions/q3.html" id="slide-3" class = "panel">
    <h2>Daily Tap</h2>
    <h4>Do you feel supported by your wingmen?</h4>
    <h10>Get 10 points!</h10>
  </a>
  
  <a href = "./questions/q4.html" id="slide-4" class = "panel">
    <h2>Daily Tap</h2>
    <h4>How do you feel right now?</h4>
    <h10>Get 5 points!</h10>
  </a>
</div>

<div id = "anchor">
  <a href="#slide-1"></a>
  <a href="#slide-2"></a>
  <a href="#slide-3"></a>
  <a href="#slide-4"></a>
</div>


<p>Daily tip: Make sure to check on your wingmen!</p>