<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="login.css" rel="stylesheet">
</head>

<div>
    <h1>Welcome!</h1>
</div>

<div class="wrapper">
  <div id="formContent">
    <h2>Login</h2>
    <form id=login>
      <input type="text" placeholder="Email">
      <input type="password" id="passwordInput" placeHolder="Password" name="originalPassword">
      <a href="home.html">Log in</a>
    </form>
    <div id="formFooter">
      <small class="form-text text-muted">
        <a href="account.html">
            Don't have an account?
        </href>
    </small>
    </div>
  </div>
</div>