h1 {
  color: #003087;
  font-size: 70px;
  position: relative;
  text-align: center;
  padding-top: 70px;
}

h2 {
  color: #003087;
  display:inline-block;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#login a {
  display: inline-block;
  background: #003087;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  width: 50%;
}
  
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
  
#formContent {
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3);
  text-align: center;
}
  
input[type=submit]:hover{
  background-color: #235dc9;
}
  
input[type=text],[type=password] {
  background-color: #f1f1f1;
  color: #0d0d0d;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  width: 80%;
  border: 2px solid #f6f6f6;
  margin-bottom: 10px;
}