.panel {
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width:400px;
    height:200px;
    padding:20px;
    background-color: #003087;
    color:#fff;
    text-align:center;
    display:block;
    text-decoration:none;
    flex-shrink: 0;
    scroll-behavior: smooth;
  }

  a {
    display: block;
    background: #003087;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 300px;
    margin-bottom: 50px;
  }

a:hover {
  color:white;
}

form {
  width:500px;
  margin:auto;
}

.container{
  padding-top: 10px;
  display:inline;
  text-align: center;
}
